* {
    box-sizing: border-box;
}
html, body, #root {
    display: flex;;
    flex-direction: column;
    height: 100%;
    font-style: italic;
 }
.headers {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 0.5em;
    background-color: lightgoldenrodyellow;
}
.header {
    cursor: pointer;
    padding: 0.25em;
    text-decoration: underline;
    margin: 0.25em 0px;
}
.clicked {
    color: lightcoral;
}
.links {
    height: 100%;
    padding: 1em;
}

ul {
    padding: 0.25em 0px;
}
